.pokemon-card {
    background-color: #1f2239;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid rgb(84, 84, 175);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
  }
  
  .pokemon-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #2a2a72, #1a1a40, #0d0d1a);
  }
  
  .pokemon-card img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    object-fit: cover;
  }
  
  .pokemon-card h2 {
    font-size: 1.2em;
    color: #f9f9f9;
    margin: 10px 0 5px;
  }
  
  .pokemon-card p {
    color: #ffffff;
    font-size: 0.9em;
  }
  .name{
    color:white;
  }
  